<html>

<head>
    <style>
        td {
            color: white;
            height: 40px;
        }
        
        .smallbox {
            height: 2px;
        }
    </style>
</head>

<body>
    <form method="POST" action='/submit_adoption/'>
        {% csrf_token %}
        <center>
            <h1 style="color:SlateBlue"><u>ADOPTION FORM</u></h1>
            <table border="0" cellspacing="0" bgcolor="SlateBlue" style="border:1px solid blue; padding:10px">
                <tr>
                    <td width="200px">PARENT FIRST NAME</td>
                    <td><input name='pfname' type="text" maxlength="30" /></td>
                </tr>
                <tr>
                    <td width="200px">PARENT LAST NAME</td>
                    <td><input name='plname' type="text" maxlength="30" /></td>
                </tr>
                <tr>
                    <td width="200px">MOBILE NUMBER</td>
                    <td><input name='phno' type="text" maxlength="10" />(10 digit number)</td>
                </tr>
                <tr>
                    <td width="200px">EMAIL ID</td>
                    <td><input name='emailid' type="email" /></td>
                </tr>
                <tr>
                    <td width="200px">ADDRESS</td>
                    <td><input name='add' textarea cols="45" rows="4"></textarea>
                    </td>
                </tr>
                <tr>
                    <td width="200px">ORPHAN NAME</td>
                    <td><input name='oname' type="text" maxlength="30" /></td>
                </tr>
                <tr>
                    <td width="200px">ORPHAN ID</td>
                    <td><input name='oid' type="text" /></td>
                </tr>

                <tr>
                    <td width="200px">DATE OF ADOPTION</td>
                    <td><input name='date' type="date">)</td>
                </tr>
                <td></td>
                <td align="center" style="padding-right:180px"><input type="submit" value="Submit" />
                </td>
                </tr>

            </table>
        </center>
    </form>
</body>

</html>