<html>

<head>
    <style>
        td {
            color: white;
            height: 40px;
        }
        
        .smallbox {
            height: 2px;
        }
    </style>
</head>

<body>
    <form method="post" action='/submit_form/'>
        {% csrf_token %}
        <center>
            <h1 style="color:SlateBlue"><u>PARENT REGISTRATION FORM</u></h1>
            <table border="0" cellspacing="0" bgcolor="SlateBlue" style="border:1px solid blue; padding:10px">
                <tr>
                    <td width="200px">FIRST NAME</td>
                    <td><input name='fname' type="text" maxlength="30" />(max 30 characters a-z and A-Z)</td>
                </tr>
                <tr>
                    <td width="200px">LAST NAME</td>
                    <td><input name='lname' type="text" maxlength="30" />(max 30 characters a-z and A-Z)</td>
                </tr>
                <tr>
                    <td width="200px">EMAIL ID</td>
                    <td><input name='emailid' type="email" /></td>
                </tr>
                <tr>
                    <td width="200px">MOBILE NUMBER</td>
                    <td><input name='phno' type="text" maxlength="10" />(10 digit number)</td>
                </tr>
                <tr>
                    <td width="200px">GENDER</td>
                    <td><input name='gender' type="text" /></td>
                </tr>
                <tr>
                    <td width="200px">ADDRESS</td>
                    <td><input name='add' textarea cols="45" rows="4"></textarea>
                    </td>
                </tr>
                <tr>
                    <td width="200px">CITY</td>
                    <td><input name='city' type="text">(max 30 characters a-z and A-Z)</td>
                </tr>
                <tr>
                    <td width="200px">PINCODE</td>
                    <td><input name='pincode' type="text" maxlength="6">(6 digit number)</td>
                </tr>
                <tr>
                    <td width="200px">STATE</td>
                    <td><input name='state' type="text">(max 30 characters a-z and A-Z)</td>
                </tr>
                <tr>
                    <td width="200px">COUNTRY</td>
                    <td><input name='country' type="text" value="India"></td>
                </tr>
                <td></td>
                <td align="center" style="padding-right:180px"><input type="submit" value="Submit" />
                </td>
                </tr>

            </table>
        </center>
    </form>
</body>

</html>