<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="templates/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="templates/css/simple-sidebar.css" rel="stylesheet">
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->

</head>

<body>

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"> Orphans list</h2>
            <h4><em> Total : {{msg|length}}</em></h4>
            <table class="table">
                <thead>
                    <tr>

                        <th> STAFF ID</th>
                        <th> ORPHAN ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th> Adopted</th>
                        <th>Date Of Birth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in msg%}
                    <tr>

                        <td> {{j.staff.id}} </td>
                        <td> {{j.id}} </td>
                        <td> {{j.orphanname}} </td>
                        <td> {{j.gender}} </td>
                        <td> {{j.adopted}}</td>
                        <td> {{j.dateofbirth}} </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>